body {
    font-family:'Manjari', sans-serif;
    margin: 0;
    background: url(../img/back1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #262426;
    background-attachment: fixed;
  }
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: rgba(255, 255, 255,.6);;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #025959;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    background-color:  rgba(255, 255, 255,.6);
}
.edad{
    margin-bottom: 15px;
    color: rgba(68, 65, 65, 0.63);
    font-size: 20px;
}
.gen{
    margin-bottom: 15px;
    color: rgba(68, 65, 65, 0.63);
    font-size: 20px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #025959;
}
.button{
    border: none;
    width: 100%;
    color: #b8d9d9;
    font-size: 20px;
    background:  #025959;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #038c73;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #038c73;
    font-weight: 600;
}
.link:hover{
     color: #038c73;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




























