* {
    margin: 0;
    padding: 0;
}
.li{
    display: inline;
}
#head{
    width: 100%;
    background-color: #262426;
    color: #ffffff;
    font-family :'Manjari', sans-serif;
}
#info-user{
    width: 100%;
    height: auto;
    background-color:rgba(105, 105, 105, 0.3);
    padding-top:20px;
    
}
.p{
    font-family :'Manjari', sans-serif;
}
#Container-principal{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 90px;
}

#pictures-user{
    width: 90%;
    height: auto;
    margin-top: 60px;
    margin-left: 60px;
    column-count: 2;
}
/* CARRUSEL*/
#slide{
    text-align: center;
    position: relative;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

ul{
    list-style-type: none;
}

#slide ul{
    position: relative;
    margin: auto;
    height: auto;
    width: 500%;
    background-color: rgba(255, 255, 255, 0.753); 
    
}
 
#slide ul li{
    float:left;
    width: 20%;
}

#slide ul li img{
    width: 100%;
}

#left {
    position: absolute;
    top: 40%;
    left: 12%;
    font-size:2em;
}

#right{
    position: absolute;
    top: 40%;
    right: 12%;
    font-size:2em;
    
}

/* CARRUSEL*/


#picture-profile{
    width: 80%;
    height: auto;
    color: #000000;
    padding-left: 60px;
    padding-top: 20px;
    font-family :'Manjari', sans-serif;
    text-align: center;
}

#imguser{
    border: solid;
    border-radius: 200px;
    padding: 30px;
}
#fit{
    width: 100%;
    background-color: #262426;
    color: #ffffff;
    font-family :'Manjari', sans-serif;
    text-align: center;
    padding: 20px;
}

#head-first{
    padding: 20px;
}

#head-second{
    padding: 20px;
}
#logo{
 padding-top: 13px;
 padding-left: 10px;    
}

#Container{
    width: 100%;
    height: 540px;
    font-size: 2.5vw;
}

h1{
    color: #B8D9D9;
    font-family:  'Dancing Script', cursive;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 0px;
}

#new-file{
    width: 90%;
    height: 50px;
    background-color: #29A8DF;
    position: relative;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family :'Manjari', sans-serif;
}

#uploadedfile{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
}

#edit-inf{
    width: 100%;
    height: 40px;;
    background-color: #29A8DF;
    margin-top: 8px;
    padding-top: 25px;
    text-align: center;
    color: #ffffff;
}

#Container p{
    color: #B8D9D9;
    font-family:  'Manjari', sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-right: 150px;
    padding-left: 150px; 
}
#body-profile h2{
    font-family:  'Manjari', sans-serif;
}
#search-field{display:inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    height:33px;
    position: static;
    width:300px;
    margin:0;
    padding:0 5px 0 32px;
    border:1px solid #ccc;
    color:#000;
    font-size:14px;
    line-height:20px;
    outline:0;
    border-radius:3px;
    background-color:hsla(0,0%,100%,.8);
    -webkit-transition:background-color .15s ease-in-out;
    transition:background-color .15s ease-in-out
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #025959;
}
.button {
    background-color: #038C73;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    width: 150px;
    cursor: pointer;
    border-radius: 3px;
  }

#search{
      width: 100%;
      padding-top: 25px;
      padding-left: 10px;
      height: auto;
           
  }
  ul{
      list-style-type: none;
  }

  #search img{
    display: block;
    max-width: 100%;
    padding-bottom: 10px;
}

.galeria{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    columns: 4; 
}
.galeria_item{
    width: 80%;
    cursor: pointer;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_img{
    width:60%;
    max-width: 700px;
    height: auto;
}

.modal_boton{
    width: 50px;
    height: 50px;
    color:#fff;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Manjari', sans-serif;
    line-height: 50px;
    text-align: center;
    background: rgba(197, 193, 193, 0.753);
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

  @media (min-width:320px){
    #head-second{
        padding-top: 5px;
    }
    
    #search-field{
     width: 240px;
    }

    
    #picture-profile{
        padding-left: 35px;
    }
    #pictures-user{
        padding-left: 35px;
        margin-left: 0px;
    }
    
    #search{
        column-count: 2;
    }


}
  @media (min-width:768px){
      #head-second{
          clear: both;
          float: right;
          padding-top: 20px;     
      }
      #search-field{
        width: 190px;
       }
       .button{
           width: 120px;
           padding: 8px 20px;
       }

       #search{
           column-count: 4;
       }
   
  }

  @media (min-width:909px){

    #search-field{
      width: 270px;
     }
     .button{
        width: 150px;
    }
   
}
@media (min-width:1100px){

    #search-field{
      width: 350px;
     }
     .button{
        width: 150px;
    }
}

@media (max-width:414px){
    #head-first{
        text-align: center;
        width: 250px;
    }
    
    #logo{
        text-align: center;
    }
    #head-second{
        text-align: center;
    }
    
    #cerrarSesion{
        padding: 8px 20px;
        width: 130px;
        }
    }

